@model OnlineShopping.DataAccess.Models.Cart

<style>

    a {
        font-size: 12px;
        color: #1a9cb7;
        text-decoration: none;
    }

    h3 {
        font-size: 22px;
        color: #424242;
        font-weight: 400;
    }

    .container {
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
</style>
<body class="bg-light">
    <div class="container ">
        <div class="row">
            <div class="col-sm-6"><h3>Add Product</h3></div>
        </div>
        <div class="row p-100 bg-white pb-5">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-6">
                        <label>UserName</label><br />
                        @*    @Html.TextBox("EmployeeName", null, new { @style = "width:100%;", @class = "form-control", @placeholder = "Please enter  ProductName" }) *@
                        @Html.Display("Username")
                    </div>
                    <div class="col-sm-6">
                        <label>@Html.Label("Product")</label><br />
                       @*  @Html.TextBox("Email", null, new { @style = "width:100%;", @class = "form-control", @placeholder = "Please enter your product description" }) *@
                        @Html.Display("Product")
                    </div>
                </div>

                <div class="row pb-2">
                    <div class="col-sm-6">

                        <label>@Html.Label("Quantity")</label><br />
                        @Html.TextBox("Address", null, new { @style = "width:100%;", @class = "form-control", @placeholder = "Please enter your Product price" })

                    </div>

                   

                </div>
                

                <div class="row pb-2">
                    <div class="col-sm-6">

                        <button class="btn  btn-sm" value="save" style="background-color:#f85606;width:100%;color:white;">Back</button>
                    </div>

                </div>

            </div>

        </div>
    </div>
</body>