@model OnlineShopping.DataAccess.Repository.TblCategory

<div class="d-flex justify-content-center align-items-center vh-80 bg-light">
    <div class="w-75 p-4 bg-white rounded shadow">
        <!-- Content Container -->
        <dl class="row border-3 pt-5">
            <dt class="col-sm-12 text-center">
                <p>Category Details</p>
            </dt>
        </dl>
        <hr />
        <dl class="row border-3 pt-5 text-center">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UpdatedBy)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UpdatedDate)
            </dd>
        </dl>

        <div class="row ml-5">
            <div class="col-sm-1 col-md-1 mb-3">
                @using (Html.BeginForm("Edit", "Category", FormMethod.Get))
                {
                    @Html.HiddenFor(a => a.Id)
                    <button class="btn btn-primary btn-lg" type="submit">Edit</button>
                }
            </div>
            <div class="col-sm-1 col-md-1 mb-3">
                @using (Html.BeginForm("Index", "Category", FormMethod.Get))
                {
                    <button class="btn btn-primary btn-lg" type="submit">Back</button>
                }
            </div>
            <div class="col-sm-10 col-md-10"></div>
        </div>
    </div>
</div>