@model OnlineShopping.DataAccess.Models.ItemModel
<div class="d-flex justify-content-center align-items-center vh-80 bg-light">
    <div class="w-75 p-4 bg-white rounded shadow">
        <!-- Content Container -->
        <dl class="row border-3 pt-5">
            <dt class="col-sm-12 text-center">
                <p>Item Details</p>
            </dt>
        </dl>
        <hr />
<div>

            <dl class="row  border-3 pt-5 text-center">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubCatId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubCatId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubCatName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubCatName)
        </dd>
    </dl>
</div>
        <div class="row ml-5">
            <div class="col-sm-1 col-md-1 mb-3">
                @using (Html.BeginForm("Edit", "Item", FormMethod.Get))
                {
                    @Html.HiddenFor(a => a.Id)
                    <button class="btn btn-primary btn-lg" type="submit">Edit</button>
                }
            </div>
            <div class="col-sm-1 col-md-1 mb-3">
                @using (Html.BeginForm("Index", "Item", FormMethod.Get))
                {
                    <button class="btn btn-primary btn-lg" type="submit">Back</button>
                }
            </div>
            <div class="col-sm-10 col-md-10"></div>
        </div>
</div>
</div>

           